{% extends 'base.html.twig' %}

{% block title %}New AddressBookItem{% endblock %}

{% block body %}
    <h1>Create new AddressBookItem</h1>

    {{ include('address_book_item/_form.html.twig') }}

    <a href="{{ path('app_address_book_item_index') }}" class="btn btn-primary">back to list</a>
{% endblock %}
